@import "../node_modules/modern-normalize/modern-normalize.css";

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Normalize end */

body {
  padding: 20px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 20px;
}

.item-class-section-header {
  display: flex;
}

.section-fields {
  padding: 20px;
}

.section-fields fieldset {
  display: flex;
  gap: 20px;
  border: none;
}

.section-fields .filter-type-field legend {
  display: none;
}

.options-container {
  display: inline-flex;
  gap: 10px;
}

.section-fields fieldset label {
  margin-right: 20px;
}

.level-filter {
  display: flex;
  gap: 20px;
}

.level-filter input {
  width: 5ch;
}

.toggled-fields > * {
  display: none;
}

fieldset.base-filter {
  gap: 10px;
}

.base-filter legend {
  display: none;
}
